<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="TestFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testdb?autoReconnect=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">testdb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
         <property name="hibernate.current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="com.test.db.Person"/>
	<mapping resource="Person.hbm.xml"/>
   
   <mapping class="com.test.db.Address"/>
	<mapping resource="Address.hbm.xml"/>
	
   <mapping class="com.test.db.Barcode"/>
	<mapping resource="Barcode.hbm.xml"/>
	
   <mapping class="com.test.db.Category"/>
	<mapping resource="Category.hbm.xml"/>

   <mapping class="com.test.db.Item"/>
	<mapping resource="Item.hbm.xml"/>
	
	
   <mapping class="com.test.db.Parent"/>
	<mapping resource="Parent.hbm.xml"/>
	
	
   <mapping class="com.test.db.Product"/>
	<mapping resource="Product.hbm.xml"/>
		
    </session-factory>
</hibernate-configuration>
